{% include 'header.html' %}
<h1>Bienvenue sur {{title.capitalize()}}lympics 2024</h1>
<p>Bonjour, bienvenue sur notre site pour le projet de l'unité d'enseignement Base de Données ! Découvrez les sports sélectionnés pour les Jeux {{title.capitalize()}}lympiques 2024 de Paris, les sites des différents événements, ainsi que le calendrier des épreuves et les athlètes participants.</p>
<img src="/static/visuel-rubrique-vol-fr-mobile.png" style="max-width: 300px; display: block; margin: auto; margin-top: 10px;">
{% include 'footer.html' %}